[submodule "lib/SDL"]
	path = lib/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "lib/SDL_image"]
	path = lib/SDL_image
	url = https://github.com/libsdl-org/SDL_image.git
[submodule "lib/cimgui"]
	path = lib/cimgui
	url = https://github.com/cimgui/cimgui.git
[submodule "lib/sokol"]
	path = lib/sokol
	url = https://github.com/floooh/sokol.git
[submodule "lib/sokol_gp"]
	path = lib/sokol_gp
	url = https://github.com/edubart/sokol_gp.git
[submodule "lib/cglm"]
	path = lib/cglm
	url = https://github.com/recp/cglm.git
[submodule "lib/soloud"]
	path = lib/soloud
	url = https://github.com/jarikomppa/soloud.git
[submodule "lib/sokol-tools-bin"]
	path = lib/sokol-tools-bin
	url = https://github.com/floooh/sokol-tools-bin.git
